<!DOCTYPE html>
<html>
<head>
  <link href="/css/logStyle.css" rel="stylesheet" type="text/css">
  <meta charset="UTF-8">
  <title>Life Log</title>
</head>

<body style="background-color:#20201F">
  <!-- <br><br><img src = "/images/LeafLogo.png" width = 180%></src> -->
  
  <script src="https://code.highcharts.com/highcharts.js"></script>
  <script src="https://code.highcharts.com/modules/xrange.js"></script>
  <script src="https://code.highcharts.com/modules/exporting.js"></script>
  <script src="https://code.highcharts.com/modules/draggable-points.js"></script>
  <script src="https://code.highcharts.com/modules/draggable-points.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
    crossorigin="anonymous"></script>
  
    
  <script src="js/jquery-3.6.0.min.js"></script>
  <script src="js/bootstrap.min.js"></script>

  <div class="modal" id="modal">
    <select id = 'updateEntryActivity'  class = "RoundedBox" name="userActivities">
      <% for(var i = 0; i < userActivities.length; i++) { %>
        <option value = "<%= userActivities[i].activityName %>"><%= userActivities[i].activityName %></option>  
      <% }; %>
    </select> 
    <button data-close-button class="close-button">&times;</button>
    <img id = "TrashButton" src = "/images/TrashIcon.png"></src>
    <br>
    <input id = 'updateEntryStartTime' class = "RoundedBox" type="time" placeholder="Start Time" name="x" min = "00:00" max = "24:00" required><br>
    <text id = 'updateEntryStartTimeValidation' class = 'Validation'></text>
    <input id = 'updateEntryEndTime' class = "RoundedBox" type="time" placeholder="End Time" name="x2" required><br>
    <text id = 'updateEntryEndTimeValidation' class = 'Validation'></text>
    <textarea maxlength="100" id = 'updateEntryComments' class = 'RoundedBox' placeholder="Comments" name="comments" ></textarea><br>
    <button id = 'updateEntry' class = "button" type="submit">Update <br> Entry</button>
  </div>

  <script type="text/javascript">
    $(document).ready(function () {
      $('#sidebarCollapse').on('click', function () {
        $('#sidebar').toggleClass('active');
        $(this).toggleClass('active');
      });
    });
  </script>

  <div class="wrapper">
    <!-- Sidebar Holder -->
    <nav id="sidebar">
      <div class="sidebar-header">
        <a id = "Signout" href="login">Sign out</a>
        <h1>Life Log</h1>
      </div>
      <ul class="components">
        <li>
          <a href="log" style="background-color: #351c75ff;">
            <h2>
              Log
            </h2>
          </a>
        </li>
        <li>
          <a href="#statSubmenu" data-toggle="collapse" aria-expanded="false">
            <h2>
              Statistics
            </h2>
          </a>
          <ul class="collapse list-unstyled" id="statSubmenu">
            <li><a href="yearly"><h3>Yearly Summary</h3></a></li>
            <li><a href="monthly"><h3>Monthly Summary</h3></a></li>
            <li><a href="weekly"><h3>Weekly Summary</h3></a></li>
            <li><a href="goals"><h3>Goals</h3></a></li>
          </ul>
        </li>
      </ul>
    </nav>


    <div id = "div4">
      <form action="/log/createActivity" method="POST">
        <input type="color" placeholder="Color" name="color" required><br>
        <input class = 'RoundedBox' type="text" placeholder="Activity Name" name="activityName" required><br>
        <button class = 'button' type="submit">Create <br> Activity</button>
        <br><br><br><br>
      </form>


      <select id = 'logEntryActivity' class = 'RoundedBox' name="userActivities">
        <% for(var i = 0; i < userActivities.length; i++) { %>
          <option value = "<%= userActivities[i].activityName %>"><%= userActivities[i].activityName %></option>  
        <% }; %>
      </select>
      <text id = 'logEntryActivityValidation' class = 'Validation'></text><br>
      <input id = 'logEntryStartTime' class = 'RoundedBox' type="time" placeholder="Start Time" name="x" required><br>
      <text id = 'logEntryStartTimeValidation' class = 'Validation'></text>
      <input id = 'logEntryEndTime' class = 'RoundedBox' type="time" placeholder="End Time" name="x2" required><br>
      <text id = 'logEntryEndTimeValidation' class = 'Validation'></text>
      <textarea maxlength="100" id = 'logEntryComments' class = 'RoundedBox' placeholder="Comments" name="comments" ></textarea><br>
      <button id = 'logEntry' class = 'button' type="submit">Log <br> Entry</button>

    </div>
    
    <div id="content">
      <img id = "LeftLogPage" src = "/images/LeftButton.png"></src>
      <img id = "RightLogPage" src = "/images/RightButton.png"></src>
      <figure class="highcharts-figure">
        <div id="container1"></div>
        <style>
          .highcharts-container svg {
            overflow: visible !important;
          }
          .highcharts-container {
            overflow: visible !important;
          }
        </style>
        <script src="logChart.js"></script>
        <script>
          var userSessionData = <%-JSON.stringify(userData) %>;
          var userDate = <%-JSON.stringify(today) %>;
          setUserDate(userDate);
          displayLogChart(userSessionData);
        </script>
      </figure>
    </div>

    <div id = "div3">
      <div id="TotalHours"></div>
      <div id="container2"></div>
      <script>
        var userSessionData = <%-JSON.stringify(userData) %>;
        var activities = <%-JSON.stringify(userActivities) %>;
        displayPieChart(userSessionData, activities);
      </script>

    </div>
  </div>

</body>

</html>